*.code-workspace
*.pyc
*.egg-info
*.DS_Store
*.mp4
*coverage*
/sample_data/9718_block evs/
/sample_data/21MAR16_9718_block evs/
/sample_data/21MAR17_9719_block evs/
/data/
run_process.py
run_analyze.py
